<div class="main container">
  <h3 style="text-align: center; margin-bottom: 20px;">ユーザー情報</h3>
  <div class="user_info">
    <div class="user_profile">
      <h4 style="padding-bottom: 13px; font-weight: bold; color: gray;" >ユーザー登録情報</h4>
      <p>お名前 <%= @user.family_name%><%= @user.first_name %></p>
      <p>フリガナ <%= @user.family_name_kana %><%= @user.first_name_kana %></p>
      <p>郵便番号 <%= @user.postal_code%></p>
      <p>住所 <%= @user.street_address %></p>
      <p>電話番号 <%= @user.phone_number %></p>
      <p style="padding-bottom: 20px;">メールアドレス <%= @user.email %></p>
      <%= link_to 'ユーザー一覧に戻る', admins_users_path, class: "btn btn-default" %>
      <%= link_to '登録情報編集', edit_admins_user_path(@user), class: "btn btn-info" %>
      <% if admin_signed_in? %>
        <%= link_to 'ユーザーを削除', admins_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn btn-warning" %>
      <% end %>
    </div>
    <div class="address_index">
      <h4 style="padding-bottom: 13px; font-weight: bold; color: gray; ">登録した住所一覧</h4>
      <% @addresses.each do |a| %>
        <div class="address-text_box">
          <p style="padding-top: 15px;">郵便番号 <%= a.other_postal_code %></p>
          <p>住所 <%= a.other_street_address %></p>
          <p>宛名 <%= a.receiver_user %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="order_index">
    <h4 style="padding-bottom: 13px; font-weight: bold; color: gray;">購入履歴一覧</h4>
    <% @orders.each do |o| %>
      <%= link_to admins_order_path(o.id) do %>
        <div class="order_box" style="margin-bottom: 15px;">
          <p style="display: inline-block; padding-top: 13px;">購入日：<%= o.shipping_date %></p>
          <p style="display: inline-block; padding-top: 13px;">購入総額：<%= o.total_cost %>円</p><br>
          <p style="display: inline-block;">送付先：〒<%= o.postal_code %>　<%= o.street_address %>　<%= o.receiver_user%></p><br>
          <p style="display: inline-block;">支払い方法：<%= o.payment %></p>
        </div>
      <% end %>
    <% end %>
    <%= paginate @orders, class: "paginate" %>
  </div>
</div>