<div class="main">
  <div class="main-visual">
    <div class="main-logo">
    </div>
    <p class="main-text">長野の田舎の小さなCDショップ、ネットも始めました。</p>
  </div>
  <div class="container" style="margin-top: 80px;">
    <div class="row">
      <%# サイドバー %>
      <div class="col-xl-3 col-lg-3 col-md-12">
        <div class="side-bar">
          <%= render 'side_bar', item: @item, categories: @categories, artists: @artists %>
        </div>
      </div>
      <%# 商品一覧 %>
      <div class="col-xl-9 col-lg-9 col-md-12">
        <%# カテゴリー名から飛んできた場合 %>
        <% if @category_items != nil %>
          <% @category_items.each do |category_item| %>
            <div class="item-box col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <%= link_to item_path(category_item.id) do %>
                <div class="item-image">
                  <%= attachment_image_tag category_item, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", size: '200x200' %>
                </div>
              <% end %>
              <p class="shortcut" style="color: black; font-weight: 600; padding-top: 10px;"><%= category_item.item_name %></p>
              <p class="item-artist" style="padding-top: 15px; font-size: 13px; color: black;"><%= category_item.artist.artist_name %></p>
              <p class="item-price" style="font-size: 17px; color: black;"><%= (category_item.item_price * 1.08).to_i %>円(税込)</p>
            </div>
          <% end %>
          <%= paginate @category_items, class: "paginate" %>
        <%# アーティスト名から飛んできた場合 %>
        <% elsif @artist_items != nil %>
          <% @artist_items.each do |artist_item| %>
            <div class="item-box col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <%= link_to item_path(artist_item.id) do %>
                <div class="item-image">
                  <%= attachment_image_tag artist_item, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", size: '200x200' %>
                </div>
              <% end %>
              <p class="shortcut" style="color: black; font-weight: 600; padding-top: 10px;"><%= artist_item.item_name %></p>
              <p class="item-artist" style="padding-top: 15px; font-size: 13px; color: black;"><%= artist_item.artist.artist_name %></p>
              <p class="item-price" style="font-size: 17px; color: black;"><%= (artist_item.item_price * 1.08).to_i %>円(税込)</p>
            </div>
          <% end %>
          <%= paginate @artist_items, class: "paginate" %>
        <%# 検索フォームから飛んできた場合 %>
        <% else %>
          <% @items.each do |item| %>
            <div class="item-box col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <%= link_to item_path(item) do %>
                <div class="item-image">
                  <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", size: '200x200' %>
                </div>
              <% end %>
              <p class="shortcut" style="color: black; font-weight: 600; padding-top: 10px;"><%= item.item_name %></p>
              <p class="item-artist" style="padding-top: 15px; font-size: 13px; color: black;"><%= item.artist.artist_name %></p>
              <p class="item-price" style="font-size: 17px; color: black;"><%= (item.item_price * 1.08).to_i %>円(税込)</p>
            </div>
          <% end %>
          <%= paginate @items, class: "paginate" %>
        <% end %>
      </div>
    </div>
  </div>
</div>