<div class="container">
  <div class="order_index">
    <h4 style="padding-bottom: 13px; font-weight: bold; color: gray;">受注一覧</h4>
    <% @orders.each do |order| %>
      <%= link_to admins_order_path(id: order.id) do %>
        <div class="order_box" style="margin-bottom: 15px;">
          <p style="display: inline-block; padding-top: 13px;">購入日：<%= order.shipping_date %></p>
          <p style="display: inline-block; padding-top: 13px;">購入総額：<%= (order.order_total_cost).to_i %>円</p><br>
          <p style="display: inline-block;">送付先：〒<%= order.postal_code %><%= order.street_address %> <%= order.receiver_user%></p><br>
          <p style="display: inline-block;">支払い方法：<%= order.payment %></p>
          <p style="display: inline-block;">ステータス:<%= order.shipping_status %></p><br>
        </div>
      <% end %>
    <% end %>
    <%= paginate @orders, class: "paginate" %>
    <br><%= link_to "トップに戻る", items_path, class: "btn btn-default" %>
  </div>
</div>