<div class="main">
  <div class="main-visual">
    <div class="main-logo">
    </div>
    <p class="main-text">長野の田舎の小さなCDショップ、ネットも始めました。</p>
  </div>
  <div class="container" style="margin-top: 80px;">
    <div class="row">
      <%# サイドバー %>
      <div class="col-xl-3 col-lg-3 col-md-12">
        <div class="side-bar">
          <%= render 'side_bar', categories: @categories, artists: @artists %>
        </div>
      </div>
      <%# 商品一覧 %>
      <div class="col-xl-9 col-lg-9 col-md-12">
        <% @items.each do |item| %>
          <div class="item-box col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= link_to item_path(item) do %>
              <div class="item-image">
                <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", size: '200x200' %>
              </div>
            <% end %>
            <p class="shortcut" style="color: black; font-weight: 600; padding-top: 10px;"><%= item.item_name %></p>
            <p class="item-artist" style="font-size: 13px; color: black; padding-top: 5px; margin-bottom: -0.5px;"><%= item.artist.artist_name %></p>
            <p class="item-price" style="font-size: 17px; color: black;"><%= (item.item_price * 1.08).to_i %>円(税込)</p>
          </div>
        <% end %>
        <%= paginate @items, class: "paginate" %>
      </div>
    </div>
  </div>
</div>