<div class="container">
  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>
  <div class="row item-show-box clearfix">
    <div class="item-show-image col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
      <p><%= attachment_image_tag @item, :image, :fill, 400, 400, format: 'jpeg', fallback: "/images/no_image.jpg", size: '400x400' %></p>
    </div>
    <div class="item-text col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p style="font-size: 35px;"><%= @item.item_name %></p><br>
      <p style="display: inline-block; font-size: 20px;"><%= @item.artist.artist_name %></p><br>
      <p style="display: inline-block;">レーベル：<%= @item.label.label_name %></p>
      <p style="display: inline-block;">ジャンル：<%= @item.category.category_name %></p><br>
      <div id="item-status" class="label label-primary"><%= @item.item_status %>          
      </div>
      <h3><%= (@item.item_price * 1.08).to_i %>円(税込)</h3>
      <div class="item-text-detail">
        <%# カートに入れる %>
        <div class="cart-in">
          <%= render 'cart_items/new', cart_item: @cart_item ,id: params[:id] %>
        </div>
        <% if admin_signed_in? %>
          <div class="edit"><%= link_to '商品編集', new_admins_item_path(id: @item.id), class: "btn btn-info" %>
          </div>
          <div class="destroy"><%= link_to '商品を削除', admins_item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  <div class="disc-box" style="margin-bottom: 50px;">
    <% @discs.each do |disc| %>
      <div class="track-box" style="text-align: center; background-color: #f7f6f5; margin-top: 20px;">
        <p style="padding-top: 15px;">ディスク名 <%= disc.disc_name %></p>
        <h5 style="text-align: center;">トラックリスト</h5>
        <% disc.tracklists.order('song_order').each do |tracklist| %>
          <div class="tracklist">
            <p style="text-align: left; padding-left: 15px; padding-bottom: 15px;">
              <%= tracklist.song_order %>　<%= tracklist.track_name %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
</div>