<div class="main">
  <div class="edit-container container" style="margin-bottom: 80px;">
    <h3 style="text-align: center; margin-bottom: 20px;">ユーザー情報編集</h3>
    <div class="form-body" style="margin-bottom: 20px;">
      <%= form_for (@user) do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-warning" role="alert">
            <h4><%= @user.errors.count %>件のerrorがあります。</h4>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="text-box">
          <div class="form-group" style="padding-top: 30px;">
            <label class="col-sm control-label">お名前
            <%= f.text_field :family_name %>
            <%= f.text_field :first_name %></label>
          </div><br>
          <div class="form-group">
            <label class="col-sm control-label">フリガナ
            <%= f.text_field :family_name_kana %>
            <%= f.text_field :first_name_kana %></label>
          </div><br>
          <div class="form-group">
            <%= f.label :郵便番号〒%>
            <%= f.text_field :postal_code, :size=>"10" %>
          </div><br>
          <div class="form-group">
            <%= f.label :住所  %>
            <%= f.text_field :street_address, :size=>"60" %>
          </div><br>
          <div class="form-group">
            <%= f.label :電話番号 %>
            <%= f.text_field :phone_number, :size=>"15" %>
          </div><br>
          <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, :size=>"35" %>
          </div>
          <div class="form-group">
            <%= f.label :password %> <i>(変更時のみ入力してください)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %><br>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %> <i>(パスワードを変更する場合は現在のパスワードの入力が必要です)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
          <div class="form-group">
            <h3>住所</h3>
            <%= f.fields_for :addresses do |address| %>
              <%= render 'address_fields', f: address %>
            <% end %>
            <div id="links">
              <%= link_to_add_association 'add address', f, :addresses %>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 15px;"><%= f.submit '編集完了', class: "btn btn-info" %>
        </div>
        <div style="padding-bottom: 30px;"><%= link_to '退会する', check_path(@user), class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
    <div style="display: inline-block;"><%= link_to '戻る', user_path(@user), class: "btn btn-default" %>
    </div>
  </div>
</div>