<div class="nested-fields">
  <div class="form-group">
    <br>
    <label>ディスク名</label>
    <%= f.text_field :disc_name %>
    <%= link_to_remove_association "ディスク入力欄を消す", f, class: "btn btn-default btn-xs" %>
  </div>
  <%# 孫テーブルの入力欄 %>
  <div class="tracklists">
    <%# 登録フォームはパーシャル %>
    <%= f.fields_for :tracklists do |tracklist| %>
      <%= render 'tracklist_fields', f: tracklist %>
    <%end%>
    <div class="links" style="margin-top: 15px;">
      <%# cocoonにより動的に入力フォームを追加 %>
      <%= link_to_add_association "曲名欄を追加", f, :tracklists, class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>