<div class="container">
  <div class="order-show-box">
    <h4 style="padding: 13px;">受注詳細</h4>
    <div class="order-show-text">
      <p style="display: inline-block; padding-top: 13px;">購入者：<%= @order.user.family_name + @order.user.first_name %></p>
      <p style="display: inline-block; padding-top: 13px;">購入日：<%= @order.shipping_date %></p>
      <p style="display: inline-block; padding-top: 13px;">購入総額：<%= @order.total_cost %>円(税込)</p><br>
      <p style="display: inline-block;">送付先：〒<%= @order.postal_code %> <%= @order.street_address %> <%= @order.receiver_user %></p>
      <p style="display: inline-block;">支払い方法：<%= @order.payment %></p><br>
      <p style="display: inline-block; float: left;">
        <%= form_for(@order, url:admins_order_path) do |f| %>
          ステータス：<%= f.select(:shipping_status, {準備中: '準備中', 発送済: '発送済'}) %>
          <%= f.submit "更新する", class: "btn btn-info" %>
        <% end %>
      </p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="text-align: center;">商品タイトル</th>
          <th style="text-align: center;">個数</th>
          <th style="text-align: center;">小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @order_details.each do |order_detail| %>
            <td><%= order_detail.item_name %></td>
            <td><%= order_detail.item_quantity %></td>
            <td><%= (order_detail.item_price * order_detail.item_quantity * 1.08).to_i %>円</td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <p style="padding-bottom: 20px;">商品合計点数
      <%= @order.total_quantity %>点で、送料<%= @order.shipping_cost %>円を含めて支払い合計：<%= (@order.order_total_cost).to_i %>円(税込)
    </p>
  </div>
  <div class="users-btn">
    <%= link_to 'このユーザーのマイページに行く', admins_user_path(@order.user_id), class: "btn btn-default" %><br>
    <%= link_to '受注一覧ページに行く', admins_orders_path, class: "btn btn-default" %>
  </div>
</div>